<h1 align="center"> Activity Recommender</h1>
<div class="container">
  <nav>
  <ul>

  <li>
      <a routerLink="/music-page">
      <img src="/assets/images/act/Music.jpg" alt="">

  </a>
  </li>


  <li>
      <a routerLink="/quote-page">
      <img src="/assets/images/act/Quote.jpg" alt="">
  </a>
  </li>



  <li>
      <a routerLink="/video-page">
      <img src="/assets/images/act/Video.jpg" alt="">
  </a>
  </li>

  <li>
      <a routerLink="/game-page">
          <img src="\assets\images\act\Game.jpg" alt="">
      </a>
      </li>
      <li>
        <a routerLink="/picture-page">
            <img src="\assets\images\act\Picture.jpg" alt="">
        </a>
        </li>
</ul>
</nav>
</div>
<meta charset="UTF-8">
<h2 align="center">Choose one that you'd like to try! 	</h2>

